<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="false" version="3.0">
  <display-name>Gooru Insights API</display-name>
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/classes/dispatcher-servlet.xml</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/v1/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			/WEB-INF/classes/applicationContext.xml
        </param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

        <filter>
                <filter-name>CORS</filter-name>
                <filter-class>com.thetransactioncompany.cors.CORSFilter</filter-class>
                <init-param>
                        <param-name>cors.allowGenericHttpRequests</param-name>
                        <param-value>true</param-value>
                </init-param>

                <init-param>
                        <param-name>cors.allowOrigin</param-name>
                        <param-value>*</param-value>
     </init-param>

                <init-param>
                        <param-name>cors.allowSubdomains</param-name>
                        <param-value>true</param-value>
                </init-param>

                <init-param>
                        <param-name>cors.supportedMethods</param-name>
                        <param-value>GET, HEAD, POST, PUT, DELETE</param-value>
                </init-param>

                <init-param>
                        <param-name>cors.supportedHeaders</param-name>
                        <param-value>*</param-value>
                </init-param>

                <init-param>
                        <param-name>cors.exposedHeaders</param-name>
                        <param-value>X-Custom-1, X-Custom-2</param-value>
                </init-param>

                <init-param>
                        <param-name>cors.supportsCredentials</param-name>
                        <param-value>true</param-value>
                </init-param>

                <init-param>
                        <param-name>cors.maxAge</param-name>
                        <param-value>3600</param-value>
                </init-param>
<!--                 Added init param CORS
 -->        </filter>
          <filter-mapping>
        <filter-name>CORS</filter-name>
        <servlet-name>dispatcher</servlet-name>
        </filter-mapping>
        <filter-mapping>
        <filter-name>CORS</filter-name>
        <url-pattern>/*</url-pattern>
        </filter-mapping> 
  <servlet>
    <servlet-name>atmos-dispatcher</servlet-name>
    <servlet-class>org.atmosphere.cpr.MeteorServlet</servlet-class>
    <init-param>
      <param-name>org.atmosphere.servlet</param-name>
      <param-value>org.springframework.web.servlet.DispatcherServlet</param-value>
    </init-param>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/classes/dispatcher-servlet.xml</param-value>
    </init-param>
    <init-param>
      <param-name>org.atmosphere.useNative</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>atmos-dispatcher</servlet-name>
    <url-pattern>/atmosphere/*</url-pattern>
  </servlet-mapping>
</web-app>
